html{
    font-family: 'Montserrat', sans-serif;
}

.set{
    background-image: url("setStatusImg2.png");
    background-color: black;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.lefthalf{
    height: 89%;
    width: 50%;
    text-align: center;
    display: inline-block;
}
.setbox{
    margin: 1.5rem auto 4rem auto;
    padding: 1rem;
    color: #ffc400;
    display: inline-block;
    font-size: 3.7rem;
}
.setbox p{
    margin-top: 0;
    margin-bottom: 0;
}
.setimg{
    height:25rem;
    width: 22rem;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.01rem;
    border-color: ghostwhite; 
}

.righthalf{
    height: 89%;
    width: 50%;
    text-align: left;
    display: inline-block;
    float: right;
}
.righthalfinside{
    margin: auto;
    color: #ffc401;
    display: inline-block;
    margin-top: 8.5rem;
    padding-left: 10rem;
}
.righthalfbutton {
    background: #181818;
    width: 16rem;
    height: 2.5rem;
    font-size: large;
    margin: 1rem;
    border-style: solid;
    border-color: #181818;
    border-radius: 0.5rem;
    color: #ffc401;
    padding: 0.1%;
    outline: none;
}


.righthalfbutton:focus {
    background-color: palegoldenrod;
}
.setit{
    margin: 1rem;
    padding: 0.1%;
    color: black;
    display: inline-block;
    font-size: large;
    background-color: #ffc400;
    width: 16rem;
    height: 2rem;
    border-style: solid;
    border-color: #ffc400;
    border-radius: 0.5rem;
    outline: none;
}
.setit:focus {
    background-color: yellow;
    border-color: yellow;
}
