body{
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}
.heading {
  text-align: center;
  font-size: 2em;
  color: #ffc100;
  margin: 20px 0 30px;
}

.cardemployee {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  margin: 50px 50px;
  height: 4.5rem;
  width: 25rem;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  background-color: #ffc100;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 40px;
  width: 25rem;
  background-color: #ffc100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 2em;
  color: black;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}
.top .name{
  margin-top: 0.5rem;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 5rem;
  height: 5rem;
  margin-top: 0.5rem;
  float: right;
}

.bottom {
  margin-top: 2rem;
}

.info {
  margin: 0.2rem;
  color: black;
}
.backemployees {
  background: black;
  text-align: center;
  display: inline-block;
  width: 100%;
}
h2.name{
  margin-right: 0;
  font-size: x-large;
}

.left {
  display: inline-block;
  text-align: center;
  float: left;
  width: 60%;
  padding-left: 5rem;
}

.right {
  width: 30%;
  background: transparent;
  display: inline-block;
  position: fixed;
  color: #ccc;
  height: 50%;
  text-align: center;
  margin-left: 3rem;
  margin-top: 1rem;
  padding-top: 10rem;
  float: right;
}

#fname{
  background: #DCDCDC;
}
.searchbysubmit{
  background: #ffc100;
  border-color: #ffc100;
  width: 7rem;
  height: 2.5rem;
  font-size: large;
  margin-bottom: 0.6rem;
  border-radius: 2rem;
  color: white;
  padding: 0.1%;
  outline: none;
}
.searchbysubmit:hover{
  background: #ffff10;
}

.display{
  text-align: center;
}

form{
  text-align: center;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}

.searchlabel{
  float: left;
  padding-left: 10.2%;
}

input{
  background-color: gainsboro;
  border-radius: 2rem;
  width: 18rem;
  height: 2rem;
  padding: 0.2rem;
  outline: 0;
  margin-right: 2%;
}