.Status {
  font-family: sans-serif;
  text-align: center;
  color: #ffc100;
  background: black;
  height: 100%;
}
.Status table{
  width: auto;
  
}
.Status td{
  width: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.welcome {
  font-size: 4rem;
  margin-bottom: 0.6rem;
}

.iconsborder {
  padding: 5%;
  background: transparent;
  padding-right: 1rem;
  padding-left: 1rem;
  }

.description {
  color: #ffd44f;
}

.button {
  color: #ffd44f;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.17rem;
}

.button:hover {
  color: white;
}

.imgstatus {
  height: 9.5rem;
  width: 9.5rem;
}

.imgstatus:hover {
  box-shadow: 0 0 2px 1px white;
}
