html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  display: inline-block;
}
#root{
  height: 100%;
  width: 100%;
  display: inline-block;
  margin: 0;
}
.dashboardCard {
  background-color: #eeeeee;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.imgtotal {
  float: left;
  display: inline-block;
  height: 5rem;
  width: 5rem;
  margin-right: 2%;
}

.hrcard {
  float: right;
  display: inline-block;
  width: 72%;
}

table {
  margin: 2%;
  background-color: white;
  display: inline-block;
  border: 0.01rem solid gainsboro;
  padding: 1%;
  background-color: white;
  border-radius: 0.2rem;
  width: 20rem;
}

header {
  margin: auto 0;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  text-align: left;
  height: 3rem;
}
.hImg{
  height: 2rem;
  width: 8rem;
  margin: 0.2rem 0 0 0;
  text-align: left;
  display: inline-block;
}



.tables {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.menu {
  float: right;
  display: inline-block;
}

.buttonHeader {
  background: transparent;
  border: none;
  outline: none;
  padding: 1rem;
  color: #ffc400;
  font-size: 1.3rem;
}
.buttonHeader:hover {
  
  color: white;
}

.bargraph {
  height: 45rem;
  width: 45rem;
  margin: auto;
  display: inline-block;
}
