body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.calendar{
    height: 100vh;
    width: 100%;
    background-image: url("imgCal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    text-align: center;
    display: inline-block;
    font-size: large;
    
    
}

.calendar h1{
    font-size: 4rem;
    margin: 2rem;
    margin-top: 0;
    color: #ffd44d;
}

.cal{
    text-align: center;
    display: inline-block;
    color: #ffc400;
}


.react-calendar__navigation{
    background-color: black;
    margin: inherit;
}

.react-calendar__month-view__weekdays__weekday{
    background-color: black;
}



.react-calendar__navigation__label{
    color: #ffc400;
    height: 115%;
}
.react-calendar__navigation__arrow{
    color: #ffc400;
    
}



.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend{
    background-color: #ffc400;
    color: black;
    border-radius: 100%;
}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend{
    color: yellow;
}
.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend:hover{
    color: black;
}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth{
    color: grey;
}

.react-calendar__tile.react-calendar__month-view__days__day{
    color: #ffc400;
}
div.react-calendar__year-view__months{
    color: #ffc400;
}

.react-calendar__month-view__weekdays__weekday{
    padding: 0;
}
.react-calendar__navigation button{
    font-size: x-large;
    margin-bottom: 0;
}
.react-calendar__month-view__days{
    font-size: x-large;
}

div.react-calendar {
    background: black;
    padding: 1rem;
}

#calendarbyname {
    background: #181818;
    width: 20rem;
    height: 2.5rem;
    font-size: medium;
    margin: 1rem 1rem 1rem 1rem;
    border-style: solid;
    border-color: #181818;
    border-radius: 0.5rem;
    color: #ffc401;
    padding: 0.1%;
    outline: none;
}


#calendarbyname:focus {
    background-color: palegoldenrod;
    color: black;
}

.getName{
    margin-bottom: 1rem;
    font-size: 1.3120rem;
    padding: 0.3120rem 1.20rem;
    border: 0;
    background-color: #ffc400;
    color: black;
    border-style: solid;
    border-color: #ffc400;
    border-radius: 0.5rem;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    outline: none;
}
.getName:hover{
background-color: yellow;

}
.getName:active{
border-color: #ffc400;
}
.getName:focus {
 border:0.001rem solid white;
}

.calLeft{
      height: 70.5%;
      width: 45.4%;
      display: inline-block;
      float:left;
      padding-top: 5rem;
      border-right: solid 0.1rem white;
  }
.calRight{
    height: 64%;
    width: 54%;
    display: inline-block;
    padding-top: 8rem;
    float: right;
    border-left: solid 0.1rem #ffc400;
  }

  .react-calendar__month-view__weekdays{
    color: #ffc400;
    font-size: 1rem;
}
.react-calendar__tile.react-calendar__decade-view__years__year{
    color: #ffc400;
}
.react-calendar__tile.react-calendar__year-view__months__month{
    color: #ffc400;
}

.react-calendar__tile.react-calendar__century-view__decades__decade{
    color: #ffc400;
}